/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color, #000028);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/*header*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  bottom: 10px;
  left: 0;
  border-bottom: 1px solid var(--decor-color, #ff0070);
  border-left: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  top: 10px;
  right: 0;
  border-top: 1px solid var(--decor-color, #ff0070);
  border-right: 1px solid var(--decor-color, #ff0070);
}

.header__theme_dark-decorated-rec {
  position: absolute;
  top: 10px;
  right: 10px;
  display: var(--flex-or-none);
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  line-height: 25px;
  text-transform: uppercase;
}

.header__theme_dark-decorated-rec::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 4px;
  color: var(--decor-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  position: relative;
  justify-self: start;
}

.focus-decor {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  text-shadow: 4px 4px 0 var(--focus-shadow, #ff0070);
}

.header__text {
  position: relative;
  inline-size: clamp(355px, 50%, 491px);
}

.title-decor {
  color: var(--color-text-decor, #000028);
  font-weight: 700;
  background-color: var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .focus-decor {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .header {
    padding-block-start: 20px;
    padding-block-end: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .header__theme_dark-decorated-rec {
    top: 20px;
  }

  .header__title {
    inset-inline-end: 20px;
  }

  .header__text {
    inset-block-end: 5px;
  }
}

@media (width >= 1024px) {

  .header__text {
    inset-block-end: 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
/*main-content*/

.main {
  display: grid;
  row-gap: 50px;
  margin-block-start: 40px;
}

.title__content-info {
  color: var(--title-section-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
}

.title__items {
  font-weight: 700;
  font-size: inherit;
}

.content__items {
  color: var(--content-text-color, #f1b2ce);
  font-size: inherit;
}

.main__content-info {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.list__content-info {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.items__content-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link__content-items {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link__content-items:hover {
  border-bottom: 1px solid currentColor;
}

.link__content-items:focus {
  outline: none;
}

.link__content-items:focus-visible {
  outline: 1px solid currentColor;
}

.title__items--font {
  font-weight: 400;
}

.main__content-info:nth-child(3) p.title__items {
  margin-block-end: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (width >= 768px) {
  .main {
    row-gap: 80px;
    margin-block-start: 60px;
  }

  .main__content-info {
    grid-template-columns: 1fr 65%;
    justify-content: space-between;
  }

  .first-section {
    row-gap: 0;
  }

  .third-section {
    row-gap: 0;
  }

  .second-section {
    grid-template-columns: 1fr;
  }

  .second-section .title__content-info {
    inline-size: min-content;
  }
}

@media (width >= 1024px) {
  .main__content-info {
    grid-template-columns: 1fr 66%;
  }

  .second-section .title__content-info {
    inline-size: 33%;
  }

  .second-section .list__content-info {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }

  .main__content-info.second-section {
    grid-template-columns: 1fr;
  }
}

/*main-gallery*/

.main_gallery {
  display: grid;
  row-gap: 10px;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
}

.images {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  .main_gallery {
    row-gap: 20px;
  }

  .img1 {
    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
  }

  .img5 {
    grid-area: img5;
  }

  .gallery {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "img1 img1 img2"
      "img3 img4 img2"
      "img3 img5 img5";
    gap: 20px;
  }
}

/*footer*/

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  margin-block-start: 40px;
}

.footer .focus-decor {
  text-shadow: 2px 2px 0 var(--focus-shadow, #ff0070);
}

@media (width >= 768px) {
  .footer {
    margin-block-start: 60px;
  }
}
